.photos-container {
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.photo {
  padding: 10px;
}
.photo button {
  padding: 5px;
}

.photo img {
  height: 250px;
  width: 250px;
}

button {
  cursor: pointer;
}

.image-container {
  position: relative;
}

.image-subtext {
  color: #fff;
  display: flex;
  position: absolute;
  bottom: 10px;
  justify-content: center;
  width: 100%;
}